[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec='/bin/llapp' %f
Name=llapp
Icon=/LastOS/LLOSStore.png
Comment=Install and item with LLApp Store
