[Desktop Entry]
Type=Application
Name=conky
Exec=conky --daemonize --pause=5
Icon=/usr/share/icons/hicolor/scalable/apps/conky-logomark-violet.svg
StartupNotify=false
Terminal=false
