[Desktop Entry]
Name=Transparent Nemo
Comment=Makes all inactive windows a little transparent
Type=Application
Exec=/LastOS/Scripts/transparent-nemo.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
X-GNOME-Autostart-Delay=0
