[Desktop Entry]
Name=LLFile Editor
Exec="/LastOS/LastOSLinux_Store/Tools/LLApp/LLApp.gambas" -e "%f"
Path=/LastOS/LastOSLinux_Store/Tools/LLApp/
Comment=Insert LastOS DVD or USB to show items
Terminal=false
Icon=/LastOS/LastOSLinux_Store/Tools/LLApp/.app.png
Type=Application
Categories=Other
X-Desktop-File-Install-Version=0.26
